

.container {
    
    

    // border-radius: 10px;
    // border-width: 2px;
    // border-color: black;
    // border-style: solid;

    // margin: 10px;
    // padding: 50px;
    // max-width: 750px;
    // text-align: c;
    // max-width: 1500px;
    // max-width: 100vw;
    // max-width: 100%;
    margin: 0px;
    padding: 20px;
    overflow: hidden;

    h1 {
        margin: 0px;
        font-size: 10vw;
        // background-color: rgb(177, 220, 255);
        padding: 10px;
        // width: 25%;
        span {
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
            background-color: rgb(177, 220, 255);
        }
    }
    h2 {

    }
    ul {
        padding-left: 20px;
        margin: 20px;
        list-style: none;
        // list-style-type: circle;
        list-style-type: square;

        li {
            padding: 5px;
        }
    }

}

.link {
    // color: cornflowerblue;
    &:hover {
        color: rgb(121, 149, 171);

    }
}

.syntax {
    // max-width: 750px;
    // max-width: 200px;
    // width: 100%;
    border-radius: 10px;
    
    
}

.exampleContainer {
    padding: 20px;
    background-color: rgb(199, 199, 199)
}
    // const [valueInDependencyArray, setValueInDependencyArray] = useState<number>(0)

.exampleSection {
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    border-style: solid;

    padding:40px;
    margin-top: 20px;
    margin-bottom: 20px;

    section {
        margin-bottom: 20px;
    }
}