.navContainer {

// background: rgb(0,0,0);
// background: linear-gradient(90deg, rgba(0,0,0,0) 10%, rgba(255,255,255,1) 100%);

padding-top: 20px;
padding-bottom: 20px;
}

.navTitle {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 32px;
    margin: 0px;
    // text-align: end;

}