.navContainer {

// background: rgb(0,0,0);
// background: linear-gradient(90deg, rgba(0,0,0,0) 10%, rgba(255,255,255,1) 100%);
top:0px;
padding-top: 20px;
padding-bottom: 20px;

display: flex;
flex-direction: row;
height: 100px;

align-items: center;

    @media (max-width: 750px) {
        flex-direction: column;
        
    }
}

.navTitle {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 32px;
    margin: 0px;
    // text-align: end;
    @media (max-width: 750px) {
        font-size: 5vw;
        
    }
}

.desc {
    @media (max-width: 400px) {
        max-width: 300px;
        text-align: center;
        
    }
    
}