.navContainer {
top:0px;
padding-top: 20px;
padding-bottom: 20px;
display: flex;
flex-direction: row;
height: 100px;
align-items: center;
    @media (max-width: 850px) {
        flex-direction: column;
    }
}

.navTitle {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 32px;
    margin: 0px;
    @media (max-width: 750px) {
        font-size: 5vw;
    }
}

.desc {
    @media (max-width: 800px) {
        text-align: center;
    }
}